/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-may-2019, 13:06:12
    Author     : 00
*/

h1, h2, h3 { margin-bottom:0px; }
h2{ display:inline-block; font-size: 16px;}
#page { 
    overflow-x: hidden;
    overflow-y: hidden;

}
body {
    color: black;
    font-size: 16px;
}
a {
    color: #ff5000;
    font-style: italic;
    /*text-decoration:underline;*/
}
strong {
    font-size: 16px;
    font-style: italic;
}
p {
    color: black;
}
#cortina {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5005;
    float: left;
    min-width: 100px;
    min-height: 100px;
    display: block;
    background-color: #333;
    width: 100vw;
    height: 100%;
    opacity: 0.8;
    display: none;
}
.miniaturaImg img {
    border: 1px solid #ff5000;
    margin-top: 10px;
    cursor: pointer;
}
.miniaturaImg img:hover{
    border: 1px solid #ccc;
}
.mainSection_m i {
    color: #FAB711;
    font-size: 18px !important;
}
.shopping_cart {
    display: none;
}
div#bannerVentajas {
    cursor: default;
}
.miniaturavideo img {
    border: 1px solid orange;
    margin-top: 10px;
    cursor: pointer;

}
.close-popup{
    position: absolute;
    color: white;
    right: -15px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #6F6F6F;
    border-radius: 60px;
    text-align: center;
    line-height: 39px;
    top: -15px;
    cursor: pointer;
}

#oferta{

    background-color:#E61A19;
    padding:5px;
    margin-top:20px;
    width:450px;
    color:white;
    font-style:italic;

}
#oferta_texto{

} 
#oferta_resaltar{
    font-weight:bold;
}
@keyframes pulse {
    0% { color: white; }
    50% { color: #E61A19; }
    100% { color: white; }
}

div#bannerVentajas .container div p {
    margin: 0;
    text-align: center;
    color: #B7D377;
    font-weight: bold;
    font-size: 11px;
    width: 20% !important;
}
div.mainSection {
    width: 100%;
    min-width: 1000px;
    padding: 0px 100px;
    margin-top: 32px;
}

div.mainSection ul{
    margin-top:20px; width: 83%;
}
div.leftImgIndex, div.leftImages, div.description {
    float: left;
}
div.leftImgIndex {
    width: 8%;
}
div.leftImages {
    width: 42%;
    text-align: center;
}
div.description {
    width: 50%;
}
div.rightBuy {
    text-align: center;
    padding: 0px;
}
div.rightBuy button {
    background: #ef7b16;
    border-color: #ef7b16;
    border: none;
    padding: 20px 60px;
    border-radius: 14px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    /*font-style: italic;*/
    /*margin: 20px;*/
    /*    -webkit-box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);
        box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);*/
}
/*div.rightBuy button:hover {
    background: #ef7b16;
    background: -moz-linear-gradient(top, #ef7b16 0%, #ff5000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef7b16), color-stop(100%, #ff5000));
    background: -webkit-linear-gradient(top, #ef7b16 0%, #ff5000 100%);
    background: -o-linear-gradient(top, #ef7b16 0%, #ff5000 100%);
    background: -ms-linear-gradient(top, #ef7b16 0%, #ff5000 100%);
    background: linear-gradient(to bottom, #ef7b16 0%, #ff5000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ef7b16 ', endColorstr='#ff5000 ', GradientType=0);
    border-color: #ef7b16;
}*/
div.leftImages img {
    width: 85%;
}
.lineahorizontal {
    border-top: 1px solid #706f6f;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lineahorizontalTriangulo {
    background: url(/modules/eyeLanding/images/triangulo.png);
    width: 38px;
    height: 22px;
    margin: 0px auto;
    border-top: 3px solid white;
    margin-top: -3px;
}
.titulo {
    text-align: center;
    /*border: 1px solid black;*/
    /*width: 500px;*/
    margin: 10px auto;
    margin-bottom: 40px;
    font-size: 28px;
    padding: 10px;
    display: block;

}
.description .wrapper p {
    margin: 0px;
}
div.description .wrapper {
    width: 100%;
    margin: 10px auto;
    margin-left:32px;
}
.wrapper .productName {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    width: 450px;
}
.wrapper .productName span {
    font-size: 24px;
}
.wrapper .productName .puntuacion {
    display: inline-block;
    color: orange;
    float: right;
    margin-top: -22px;
}
.wrapper .productPrice {
    font-size: 26px;
    color: #ef7b16;
    /*font-style: italic;*/
    padding: 15px 5px;
    display:inline-block;
    /*font-weight:bold;*/
}

.wrapper .productPrice2 {
    font-size: 18px;
    color: black;
    /*font-style: italic;*/
    padding: 12px 0px;
    display:inline-block;
}

.wrapper .productPrice2 span{ font-size:28px; }
.wrapper .productPrice span {
    font-size: 36px;
    /*font-weight:bold;*/
}
.wrapper .productSubName p {
    font-size: 14px;
    margin-top: 5px;
}
#volverArriba p {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom:25px;
}
#menu_wrapper {
    overflow: hidden;
}


.valoracion {
    /*border: 1px solid;*/
    padding: 15px;
}
.valoracion p {
    border-top: 1px solid #888886;
    padding: 10px 0px;
    font-size: 16px
}

.valoracion .puntuacion{
    float: right;
    color: #ff5000;
    margin-right: 15px;
}
#sectiondos img {
    max-width: 200px;
    margin: 0px auto;
}
#sectioncinco {
    padding: 0px 0px;
    background-color: #EFEFEF;
}
#sectioncinco .wrapper {
    width: 60%;
    margin: 0px auto;
}
#sectiondos .wrapper {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align:center;
}  
#sectiondos .wrapper #producto2{ height:350px; width:38%; float:left; margin-left:200px; }
#sectiondos .wrapper #producto2 .producto-img{  float: left;}
#sectiondos .wrapper #producto2 .producto-desc{   width: 48%; text-align: left; float: left; margin-left:25px}
#sectiondos .wrapper #producto3{ height:350px; width:38%; float:right;  margin-right:200px;}
#sectiondos .wrapper #producto3 .producto-img{  float: left;}
#sectiondos .wrapper #producto3 .producto-desc {     width: 54%; text-align: left; float: left;  margin-left:25px} 
.sectiontres:hover{
    text-decoration:underline;
}
#sectiontres .especificaciones{
    /*clear:both;*/
    width:100%;
}

@media (max-width:1720px)
{
    #sectiontres .wrapper{
        width:80% !important;
    }
}

@media (max-width:1500px)
{
    #sectiontres .wrapper{
        width:90% !important;
    }

}
@media (max-width:1340px)
{
    #sectiontres .wrapper{
        width:95% !important;
    }
}

@media (max-width:1280px)
{
    #sectiontres #especificacionesImagenes .izquierda, .derecha {  width:49%; margin-top: 20px;}
    #sectiontres #especificacionesImagenes .derecha {  float:right; }
}


@media (max-width:850px)
{

    #sectiontres #especificacionesImagenes .izquierda, .derecha { width: 100%;}
    #sectiontres .especificaciones div {  min-height:0px !important; float: none !important; padding: 0px 10px !important; width:100% !important;  display: inline-block; }
    #sectiontres #especificacionesImagenes .derecha:last-child{ margin-bottom: 20px; }
}
#sectiontres #especificacionesImagenes{ margin-top:20px; }
#sectiontres #especificacionesImagenes .izquierda { float:left; margin-top:20px;}
#sectiontres #especificacionesImagenes .derecha {  margin-top:20px; }
#sectiontres #especificacionesImagenes .derecha:last-child{ margin-bottom: 20px; }
#sectiontres .especificaciones div{
    min-height: 85px;padding:10px; background-color:#ededed; float:left;width: 50%; text-align:left;
}
#sectiontres .texto {
    padding: 20px;
    width: 80%;
    margin: 0px auto;
} 
#sectiontres .wrapper{
    width: 70%; 
    margin: 0px auto;
    text-align:center;
}
#sectiontres .wrapper div.pasos{
    display:inline-block; width:304px; text-align:left; margin:0px auto;
}

#sectiontres .wrapper2 div{ margin-right:20px; display:inline-block; }
#sectiontres .wrapper2 #producto1 { text-align:left; width: 213px;display:inline-block;position: relative;top: 28px; }
#sectiontres .wrapper2 #producto2 { text-align:left; width: 259px;display:inline-block;position: relative;top: 57px; }
#sectiontres .wrapper2 #producto3 { text-align:left; width: 244px;display:inline-block;position: relative;top: 53px; }
.sectioncuatro:hover{
    text-decoration:underline;
}
#sectioncuatro .wrapper {
    width: 45%;
    margin: 20px auto;
    text-align: center;
    background: #EFEFEF;
    padding: 20px;
}
#sectioncuatro .wrapper img {
    margin: 0px auto;
    display: block;
}
#sectioncuatro .wrapper .video {
    text-align: center; 
}
#sectioncuatro .wrapper .video img{
    cursor:pointer;
    width:50%;
}
#popupVideo {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
#popupTarjetas{
    display:none;
    height: 45px;
    background-color: white;
    width: 184px;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    right: 25%;

    -webkit-box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);
    box-shadow: 10px 10px 47px -7px rgba(0, 0, 0, 0.24);
    padding: 8px 0px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #E2E2E2;
}
#enviogratis{
    margin-left: 10px;

    /* padding: 10px; */
    /* border-radius: 60px; */
    color: white;
    padding: 6px 17px;
    border-radius: 14px;
    text-transform: uppercase;
    font-style: italic;



    background: #61BB60;
    background: -moz-linear-gradient(top, #61BB60 0%, #64A954 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61BB60), color-stop(100%, #64A954));
    background: -webkit-linear-gradient(top, #61BB60 0%, #64A954 100%);
    background: -o-linear-gradient(top, #61BB60 0%, #64A954 100%);
    background: -ms-linear-gradient(top, #61BB60 0%, #64A954 100%);
    background: linear-gradient(to bottom, #61BB60 0%, #64A954 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#61BB60 ', endColorstr='#64A954', GradientType=0);*/


}
#popupTarjetas_close{
    cursor: pointer;
    position: relative;
    top: -32px;
    background-color: black;
    color: white;
    border-radius: 360px;
    display: block;
    width: 16px;
    left: 152px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    line-height: 1.4;
}
#popupTarjetas img{
    max-width: 139px;
}
#primerBoton {
    text-align: left;
}

#sectiondos .rightBuy{
    margin:20px auto; 
    width:80%;

}

.descripcionProducto{
    min-height: 150px; 
}

.combinacionActivada:before{
    content: "\f111" !important;
}
.combinaciones ul li i{
    margin-right:5px;
    cursor:pointer;
    color:#ff5000;
    font-weight:normal;
}
.combinaciones ul li{
    float:left;
    margin-left:10px;
    font-weight:bold;
    font-size:20px;
}
@media (max-width:1600px) {
    #sectioncinco .wrapper {
        width: 80%;
        margin: 0px auto;
    }
}

@media (max-width:1715px)
{
    #sectiondos .wrapper #producto2{
        margin-left:130px;
    }
    #sectiondos .wrapper #producto3{
        margin-right:130px;
    }
}
@media (max-width:1517px)
{
    #sectiondos .wrapper #producto2 { margin-left:80px; width: 44%;}
    #sectiondos .wrapper #producto3 { margin-right:80px; width: 44%;}
}
@media (max-width:1400px)
{
    div.description{
        width: 46%;
    }
    #sectiondos .wrapper #producto3 { margin-right: 22px;     width: 48%;}
    #sectiondos .wrapper #producto2 { margin-left: 22px;     width: 48%;}
    #sectiondos .wrapper #producto2 .producto-desc { width:56%; }
    #sectiondos .wrapper #producto3 .producto-desc { width: 54%; }

} 
.valoraciones { text-align:left !important;}
@media (max-width:1200px) {
    div.description .wrapper { margin-left:0px; }
    div.mainSection { padding: 0px 0px; }
    div.mainSection ul { width:100%; }
    #sectiondos .wrapper #producto3 { margin-right: 0px; }
    #sectiondos .wrapper #producto2 { margin-left: 0px; width:47%; }
    #sectioncuatro .wrapper {
        width: 80%;
    }
    #sectiondos .wrapper {
        width: 100%;
    }
    #sectioncinco .wrapper {
        width: 90%;
        margin: 0px auto;

    }


    #sectiontres .texto {
        width: 100%;
    }

    #oferta{ width:100% !important; }
}
@media (max-width:1110px)
{
    #sectiondos .wrapper #producto2 .producto-desc{
        width:54%;
    }
    #sectiondos img{
        max-width:170px;
    }

    #sectiondos .wrapper #producto2{
        width:51%;
    }
    #sectiondos .wrapper #producto3{
        width:46%;
    }
}
@media (max-width:1000px)
{
    div.mainSection { padding: 0px 0px; }
    div.description { width:40%; }
    .wrapper .productName{ width: 400px;}
    #sectiondos .wrapper #producto2{ width:100%;}
    #sectiondos .wrapper #producto3{ width:100%; margin-right:0px; }
    #sectiondos img { max-width:250px;}
    #sectiondos .rightBuy{ width:300px; }
    .descripcionProducto{ min-height:0px; }
}

@media (max-width:950px)
{

    div.leftImages { width:36%; }
    div.description { width:44%; }
    .wrapper .productName{ width: 350px;}

    div.description .wrapper{ margin-left:0px;}
}

@media (max-width:900px)
{
    div.description{width:37%;}
}
@media (max-width:840px) {
    #oferta {text-align:center; }
    #sectiontres .wrapper2 #producto1{ width:100%; margin-bottom:55px;}
    #sectiontres .wrapper2 #producto2{ width:100%; margin-bottom:55px;}
    #sectiontres .wrapper2 #producto3{ width:100%;  margin-bottom:55px;}
    #sectiontres .wrapper2 { margin-top:40px !important;}
    div.mainSection ul{ width:100%; }
    div.leftImages img{ width:100%;}

    #sectiontres .wrapper div.pasos{
        display:inline-block; width:100%; text-align:center; margin:0px auto; margin-top:20px;
    }

    #sectiontres .wrapper div.pasos span{
        margin-top:20px;
    }
    #sectiontres .wrapper{ width:100%; }
    #sectiondos .wrapper #producto2 { width:100%; float:none; margin-left:0px; }
    #sectiondos .wrapper #producto3 { width:100%; float:none; margin-right:0px; }
    div.description .wrapper{
        margin-left:0px;
    }

    #primerBoton {
        text-align: center;
    }

    div.description .aviso span {
        display: block;
        width: 100%;
    }
    #sectioncinco {
        padding: 0px 10px;
    }
    #sectioncinco .valoracion {}
    #sectiondos img {
        /*max-width: 149px;*/
    }
    #sectiondos .wrapper .imagen {
        width: 100%;
        padding-bottom: 20px;
        min-width: inherit;
    }
    #sectiondos .wrapper p {}
    #sectiondos .wrapper .izquierda {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    #sectiondos .wrapper .izquierda p {
        padding: 0px !important;
        margin: 0px !important;
        padding-bottom: 10px !important;
        border-bottom: 2px solid #ccc !important;
        padding-top: 10px !important;
    }
    #sectiondos .wrapper .derecha {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    #sectiondos .wrapper .derecha p {
        padding: 0px !important;
        margin: 0px !important;
        padding-bottom: 10px !important;
        border-bottom: 2px solid #ccc !important;
        padding-top: 10px !important;
    }
    #sectiontres .wrapper img {
        /*//width: 28%;*/
    }
    div.description {
        width: 100%;
        margin-top: 30px;
    }
    div.leftImages {
        width: 74%;
    }
    div.leftImgIndex {
        width: 17%;
    }
    div.mainSection {
        min-width: 0px;
        padding: 0px;
    }
    /*    .productName {
            width: 100% !important;
        }*/
    .titulo {
        width: initial;
    }
    #popupVideo {
        bottom: 200px;
    }
}
@media (max-width:620px)
{
    #sectiondos .wrapper #producto2 .producto-desc{ width: 90%;}
    #sectiondos .wrapper #producto3 .producto-desc{ width: 90%;}
    #sectiondos .wrapper #producto3 .producto-img { float: none; }
    #sectiondos .wrapper #producto2 .producto-img { float: none; }


}
@media (max-width:500px) {
    #oferta{width: auto !important;}
    #sectiondos .wrapper #producto2 .producto-img { width:100%; float:none; }
    #sectiondos .wrapper #producto3 .producto-img { width:100%; float:none; }
    #sectiondos .wrapper #producto2 .producto-desc { width:100%; }
    #sectiondos .wrapper #producto3 .producto-desc { width:100%; }
    #sectioncuatro .wrapper .video img { width:100%;}
    div.leftImages img{ width:100%;}

    #sectiontres .wrapper img {
        width: 100%;
    }
    #sectiondos .wrapper #producto2 .producto-desc { margin-left:0px;}
    #sectiondos .wrapper #producto3 .producto-desc { margin-left: 0px;}
    #sectioncuatro .wrapper {
        width: 100%;
    }
    .combinaciones{ margin-bottom:60px;}
    #popupVideo {
        bottom: 300px;
    }
}

@media (max-width:400px)
{
    .wrapper .productName .puntuacion{
        float:none;
        width:100%;
    }

}
@media (max-width:380px)
{
    #enviogratis{
        width: 50%;
        display: block;
    }
}


.mainSection{
    display: block;
}
.mainSection_m{
    display: none;
}

@media(max-width: 425px){
    .mainSection{
        display: none;
    }
    .mainSection_m{
        display: block;
    }
}

.text {
    font-size:18px;
    color: white;
    background: #56c3ea;
    text-transform:uppercase;
    text-align: center;
    margin: 10px -15px;
    padding: 10px;
    font-weight: 100;
}
.parpadea {

    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.wrapper .productPrice {
    font-size: 22px;
    color: #ff5000;
    /*font-style: italic;*/
    padding: 10px 5px;
    display: inline-block;
    /*font-weight: bold;*/
    font-weight: 300;
}
.wrapper .productPrice_ant {
    font-size: 16px;
    color: #AAA;
    /*font-style: italic;*/
    padding: 10px 5px;
    font-weight: 100;
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
}

.wrapper .productPrice_ant span {
    font-size: 26px;
    /*font-weight: bold;*/
}

.wrapper .productPrice span {
    font-size: 32px;
    /*font-weight: bold;*/
}

.texto_Oswald{
    font-family: 'Oswald', sans-serif;
}

.texto_Corbel{
    font-family: 'Roboto', sans-serif;
}

.crossed {
    background: 

        linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(170,170,170,1) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%);
}

.envio_gratis{
    text-align: center;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 47px;
    color: white;
    background: #9ec866;
    font-size: 12px;
    font-weight: 100;
}

@media(min-width:375px){
    .envio_gratis{
        text-align: center;
        margin: 0px;
        padding: 2px 10px;
        border-radius: 47px;
        color: white;
        background: #9ec866;
        font-size: 14px;
        font-weight: 100;
    }
}

.campo_tarjeta{
    /*border: 1px solid;*/
    /*margin-bottom: 3rem!important;*/
    padding: 1rem!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.3)!important;
    border-radius: 2.25rem!important;
    background-color: #fff!important;
}

.autor{
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}
