#eyelogin_top{
	position: absolute;
    top: 72px;
    left: 160px;
	
}

#eyelogin_top span{
	cursor:pointer;
	padding:0px 5px;
}

#eyelogin_top span:hover{
	color:orange;
}
#eyelogin_contactanos{
	
	position: absolute;
    right: 40px;
    top: 72px;
	
}

#eyelogin_contactanos a{
	font-style:normal;
	text-decoration:none;
	
}
@media (max-width:565px)
{
	#eyelogin_top{
		top:20px;
		font-size: 14px;
	}
	#eyelogin_top span{
		margin:5px;
		display:block;
	}
	
	#eyelogin_contactanos{
		right: inherit;
		left:157px;
		font-size: 14px;
	}
}